<p>John Smith</p>

<li>current branch is civil</li>
<li>got into preference branch 1 cse</li>

<p>Erica Meyers</p>
<li>current branch is mech</li>
<li>got into preference branch 1 cse</li>

<p>Sunny</p>
<li>current branch is ee</li>
<li>rejected to preference branch 1 mech because maximum strength of preference branch reached</li>
<li>got into preference branch 2 cse</li>

<p>Jim</p>
<li>current branch is mech</li>
<li>rejected to preference branch 1 civil because higher GPA candidate got rejected before</li>
<li>rejected to preference branch 2 cse because maximum strength of preference branch reached</li>
<li>got into preference branch 3 ee</li>
